.smf-classified-post {
  @extend .smf-card;

  .media-body {
    width: 100%;
  }

  .smf-price {
    @extend .smf-bubble-radius;
    @extend .smf-colors-box-inverted;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    @extend .smf-font-light;
    font-size: smaller;
  }

  .smf-media-image-gallery {
    .btn {
      padding: 0;
    }
  }

  .smf-media-footer {
    background: rgba(0,0,0,.1);
    border-radius: 3px;

    a {
      color: #000;
      text-decoration: none;
      padding: 0px 5px;
      font-size: 10px;
      line-height: 14px;
      &:hover {
        @extend .smf-colors-box-inverted;
      }
    }
  }
}
