@import "variables";
@import "mixins";

#smf-center-header {
  .smf-subtitles {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    position: relative;

    &:before {
      content: "";
      @include smf-position(absolute,auto,auto,-11px, ( ( $smf-social-timeline-left-padding - 10 ) / 2 ));
      background: rgba(0, 0, 0, .1);
      height: 10px;
      width: 1px;
    }
    &.smf-right:before {
      @include smf-position(absolute,auto,( ( $smf-social-timeline-left-padding - 10 ) / 2 ),-11px,auto);
    }

    .smf-subtitle {
      @extend .smf-font-light;
      color: rgba(0, 0, 0, .3);
      text-decoration: none;
      line-height: 18px;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:link:hover,
      &:visited:hover{
        color: rgba(0, 0, 0, .7);
      }
      &:link.active,
      &:visited.active{
        color: $smf-color-main;
      }
    }
  }
}