@import "variables";
@import "mixins";

#smf-center-magic-bar {
  @include smf-position(fixed, $grid-gutter-width/2, $grid-gutter-width/2, auto, 0px);
  @include smf-transition(all .3s ease-out);
  @extend .smf-box-shadow-3;

  z-index: $smf-content-zindex + 1;

  background: rgba(255, 255, 255, .95);
  border-radius: 3px;
  height: 60px;
  padding: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  .smf-company-logo {
    display: block;
    text-align: center;
    @include smf-transition(all .3s ease-out);
    height: 50px;
    margin-top: -10px;
    > img {
      height: 100%;
      max-width: 100%;
    }
  }

  .smf-magicbar-section {
    display: inline-block;

    &:first-child {
      padding-left: 15px !important;
    }
    &:last-child {
      padding-right: 15px !important;
    }

    .btn {
      background: 0;
      box-shadow: none;

      &.smf-magicbar-notification {
        border-radius: 50% 50% 0 50%;
        border: solid 1px $smf-color-main;
        color: $smf-color-main;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;
        margin-left: 5px;

        &:hover,
        &:active,
        &[aria-expanded='true'] {
          background: $smf-color-main;
          color: #fff;
        }

        .badge {
          @include smf-position(absolute, auto, -5px, -5px, auto);
          background: $smf-color-inverse;
          color: #fff;
          padding: 0px 4px;
          font-size: 9px;
          font-weight: normal;
          border: solid 1px #fff;
          min-width: 15px;
          line-height: 14px;
        }
      }
      &.smf-magicbar-btn {
        color: rgba(0, 0, 0, 1);

        &:hover {
          color: #fff;
          background: $smf-color-main;
        }
        &:active,
        &.active,
        &[aria-expanded='true'] {
          color: #fff;
          background: $smf-color-main;
        }
      }
    }
  }

}

// #smf-center-magic-bar

@media(min-width: $screen-xs-max) {
  body.scrolled {
    #smf-center-magic-bar {
      @include smf-position(fixed, 0, 0, auto, 0);
      height: 40px;
      border-radius: 0px;
      padding: 5px;
      .smf-company-logo {
        height: 30px;
        margin-top: 0px;
      }
    }
    // #smf-center-magic-bar-wrapper
  }
}

@media(max-width: $screen-xs-max) {
  #smf-center-magic-bar {
    @include smf-position(fixed, 30px, 5px, auto, 5px);
    border-radius: 3px;
    padding: 5px;
    height: 40px;
    z-index: $smf-content-zindex + 2;
  }
}