@mixin smf-position($position,$top,$right,$bottom,$left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin smf-transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin smf-bubble-arrow($top,$size) {
  &:after, &:before {
    @include smf-position(absolute,$top,100%,auto,auto);
    border: solid transparent;
    content: '';
    margin-left:-20px;
  }

  &:after {
    border-right-color: rgba(255,255,255,1);
    border-width: $size;
    margin-top: -$size;
  }
  &:before {
    border-right-color: rgba(0,0,0,.1);
    border-width: $size + 1;
    margin-top: - ( $size + 1 );
  }
}

.smf-bubble-radius {
  border-radius: 50% 50% 0 50%;
}

.smf-box-shadow-1 {
  box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}
.smf-box-shadow-2 {
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.smf-box-shadow-3 {
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

.smf-bubble {
  @extend .smf-bubble-radius;
}

.smf-colors-box {
  background: #fff;
  color: $smf-color-main;
}
.smf-colors-box-inverted {
  background: $smf-color-main;
  color: #fff;
}
.smf-colors-box-inverted:hover  {
  background: $smf-color-main;
  color: #fff;
}




// FONTS
.smf-font-lighter {
  font-weight: 100;
}
.smf-font-light {
  font-weight: 300;
}
.smf-font-small {
  font-size: 10px;
}
.smf-font-big {
  font-size: 14px;
}
.smf-font-bigger {
  font-size: 16px;
}