@import "variables";
@import "mixins";

$smf-sidebar-dark: darken($smf-color-main,4%);
$smf-sidebar-darker: darken($smf-color-main,8%);

html {

  body {

    #smf-body-container {

      #smf-body-wrapper {

        #smf-sidebar-left {
          background: $smf-sidebar-left-background;
          padding: 0;
          padding-top: 70px;
          position: fixed;
          top:0;
          bottom:0;
          @include smf-transition(padding .3s ease-out);

          #smf-sidebar-left-header {
            padding: 10%;
            background: #fff;

            .smf-company-logo {
              width: 100%;
              max-width: 150px;

            } // ./ .smf-company-logo

          } // ./ #smf-sidebar-left-header

          #smf-sidebar-left-body {

            .smf-sidebar-left-subheader {
              a {
                color: rgba(255,255,255,.5);
                text-decoration: none;
                @extend .smf-font-light;

                text-overflow: ellipsis;
                overflow: auto;
                background: rgba(0,0,0,.1);
                text-align: left;

                &:hover {
                  color: rgba(255,255,255,1);
                }
              }
            }

            .smf-navigation {
              @extend .smf-font-light;

              .list-group {
                padding: 0px;
                margin: 0px;

                .list-group-item {
                  padding: 0px;
                  margin: 0px;
                  border-radius: 0px;
                  border: none;
                  background: none;
                  border-bottom: solid 1px rgba(0,0,0,.1);

                  &:last-child {
                    border-bottom: none;
                  }

                  & > a {
                    display: block;
                    padding: 9px 12px;
                    color: rgba(255,255,255,.6);
                    text-decoration: none;
                    text-overflow: ellipsis;
                    overflow: auto;
                    white-space: nowrap;

                    & > i {
                      display: inline-block;
                      border-radius: 50% 50% 0 50%;
                      width: 30px;
                      height: 30px;
                      line-height: 30px;
                      font-size: 14px;
                      margin-right: 5px;
                      color: inherit;
                      border: solid 1px rgba(255,255,255,.6);
                      text-align: center;
                    }
                  }

                  &.active > a,
                  & > a:hover,
                  & > a:focus {
                    color: #fff;

                    & > i {
                      border-color: #fff;
                    }
                  }
                  &.active > a > i {
                    background: #fff;
                    color: $smf-color-main;
                  }

                  &:not(.active) > .list-group {
                    display: none;
                  }

                  & > .list-group {
                    padding: 0px;
                    background: rgba(0,0,0,.1);

                    & > .list-group-item {
                      //border-bottom: none;
                      border-bottom: solid 1px rgba(255,255,255,.2);
                      & > a {
                        padding: 9px 12px;
                        font-size: smaller;
                      }
                      &.active {
                        & > a {
                          border-left: solid 2px #fff;
                          padding-left: 10px;
                          background: none;
                        }
                      }
                      &:last-child {
                        border-bottom: none;
                      }
                    }
                  }
                }
              }

            } // ./ .smf-navigation

            > #smf-sidebar-search {
              position: relative;
              background: rgba(0,0,0,.1);
              padding: 9px 12px;
              margin-top: 12px;
              > input {
                width: 100%;
                display: block;
                border: none;
                border-bottom: solid 1px rgba(255,255,255,.2);
                background: none;
                padding-left: 15px;
                outline: none;
                color: rgba(255,255,255,.5);
                @extend .smf-font-light;
                @include placeholder(rgba(255,255,255,.5));

                & + i {
                  position: absolute;
                  left: 12px;
                  top: 12px;
                  color: rgba(255,255,255,.5);
                }

                &:focus {
                  border-bottom-color: rgba(255,255,255,1);
                  color: rgba(255,255,255,1);
                }
              }
            }

          } // ./ #smf-sidebar-left-body

          #smf-sidebar-left-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: .9em;
            color: rgba(255,255,255,.2);
            @extend .smf-font-light;

            a {
              color: rgba(255,255,255,.5);

              &:hover {
                color: rgba(255,255,255,1);

              }
            }

          } // ./ #smf-sidebar-left-footer

        } // ./ #smf-sidebar-left

      } // ./ #smf-body-wrapper

    } // ./ #smf-body-container

  } // ./ body

} // ./ html

body.scrolled {
  #smf-sidebar-left {
    padding-top: 40px !important;
  }
  // #smf-center-magic-bar-wrapper
}