@import "variables";
@import "mixins";

#smf-topbar {
  @include smf-position(fixed, 0px!important, 0, auto, 0!important);
  height: 75px;
  background: $smf-color-main;
  z-index: $smf-content-zindex + 2;
  .btn {
    border:none;
    color:rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    &.active {
      color: #fff;
    }
  }
}