$smf-color-main: rgb(55, 174, 182);
$smf-color-main-ontop: rgb(255, 255, 255);
$smf-color-main-dark: rgb(26,133,156);
$smf-color-main-dark-ontop: rgb(255, 255, 255);
$smf-color-main-light: lighten($smf-color-main,5%);
$smf-color-main-light-ontop: rgb(255, 255, 255);


$smf-color-gray-dark: rgb(100, 100, 100);
$smf-color-gray: rgb(150, 150, 150);
$smf-color-gray-light: rgb(200, 200, 200);

$smf-color-inverse: salmon;

$smf-navigation-width: 200px;
$smf-topbar-height: 45px;
$smf-content-zindex: 2;

$smf-color-body-background: #f2f2f2;
$smf-color-body-timelines: #dddddd;

$smf-color-white-separator: #eee;

$smf-social-timeline-left-padding: 60px;

// SIDEBAR
$smf-sidebar-left-background: linear-gradient(to bottom, $smf-color-main-light 1%, $smf-color-main-dark 100%);
$smf-sidebar-left-top-background: lighten($smf-color-main,10%);

// Right Sidebar
$smf-sidebar-right-post-image-size: 70px;
$smf-sidebar-right-post-padding: 10px;

// Configuration for Bootstrap
$icon-font-path: "../vendor/b/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-size-base: 12px;
$brand-primary: $smf-color-main;
$table-border-color: $smf-color-white-separator;
$grid-gutter-width: 20px;

// Configuration for font-awesome
$fa-font-path: "../vendor/b/font-awesome/fonts";

//Configuration for Roboto font
$roboto-font-path: '../vendor/b/roboto-fontface/fonts';