@import "variables";
@import "vendor";
@import "sidebarLeft";
@import "magicbar";
@import "topbar";
@import "centerHeader";
@import "common/cards";
@import "common/tables";
@import "components/classified";
@import "components/blogs";
@import "social/timeline";
@import "social/post";
@import "social/comment";
@import "social/sidebarRight";
@import "social/profile";

.top5 {
  margin-top: 5px;
}

.top10 {
  margin-top: 10px;
}

.top15 {
  margin-top: 15px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.top40 {
  margin-top: 40px;
}

.padding0 {
  padding: 0;
}

body {
  background: $smf-color-body-background;
  overflow-x: hidden;
}

.smf-btn-load-more {
  background: $smf-color-body-timelines;
  display: block;
  color: #000;
  padding: 3px;
  &:hover {
    background: $smf-color-main;
    color: #fff;
    text-decoration: none;
  }
}

.modal-backdrop {
  bottom:0;
  position: fixed;
}