<form ng-submit="ClassifiedController.applyFilters();">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select class="form-control" ng-model="ClassifiedController.filters.categoryObj"
                        ng-options="category.name group by category.parent for category in ClassifiedController.categories">
                    <option value="">escolher</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Estado</label>
                <select class="form-control" ng-model="ClassifiedController.filters.state">
                    <option value="">escolher</option>
                    <option value="new">Novo</option>
                    <option value="used">Usado</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Texto</label>
                <input type="text" class="form-control" ng-model="ClassifiedController.filters.text" placeholder="Nome, descrição, palavras-chave" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Preço mínimo</label>
                <input type="number" class="form-control" ng-model="ClassifiedController.filters.priceMin" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Preço máximo</label>
                <input type="number" class="form-control" ng-model="ClassifiedController.filters.priceMax" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            <hr>
        </div>
    </div>
</form>