<div class="smf-magicbar-section">
    <button class="btn btn-block smf-magicbar-btn" ng-click="MagicBarClassifiedController.share()">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">Partilhar</span>
    </button>
</div>
<div class="smf-magicbar-section">
    <button class="btn btn-block smf-magicbar-btn" ng-class="{'active':$parent.$parent.showFilters}"
            ng-click="$parent.$parent.showFilters = !$parent.$parent.showFilters">
        <i class="fa fa-search"></i>
        <span class="hidden-xs">Filtrar resultados</span>
    </button>
</div>