<form name="ClassifiedReportController.form" ng-submit="ClassifiedReportController.submit()">
    <div class="modal-header">
        <b>Denunciar anúncio</b>
    </div>
    <div class="modal-body">

        <div class="form-group"
             ng-class="{'has-error': ClassifiedReportController.form.reason.$invalid && ClassifiedReportController.submitted}">
            <label class="control-label">Razão</label>
            <textarea rows="3" class="form-control" name="reason" placeholder="Razão da denúncia..."
                      ng-model="ClassifiedReportController.reason" required></textarea>

            <div class="help-block">
                <div ng-show="ClassifiedReportController.submitted">
                    <span ng-show="ClassifiedReportController.form.reason.$error.required">Introduza a razão da denúncia</span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-default" type="button"
                ng-click="ClassifiedReportController.cancel()">Cancel
        </button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>