<form name="ClassifiedShareController.form" ng-submit="ClassifiedShareController.submit()">
    <div class="modal-header">
        <b>Adicionar anúncio</b>
    </div>
    <div class="modal-body">

        <div class="container-fluid row">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.type.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Tipo</label>
                        <br>

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="ClassifiedShareController.classified.type"
                                   btn-radio="'sell'">Venda</label>
                            <label class="btn btn-primary" ng-model="ClassifiedShareController.classified.type"
                                   btn-radio="'trade'">Troca</label>
                            <label class="btn btn-primary" ng-model="ClassifiedShareController.classified.type"
                                   btn-radio="'buy'">Compra</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.state.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Estado</label>
                        <br>

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="ClassifiedShareController.classified.state"
                                   btn-radio="'new'">Novo</label>
                            <label class="btn btn-primary" ng-model="ClassifiedShareController.classified.state"
                                   btn-radio="'used'">Usado</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.name.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Título</label>
                        <input type="text" placeholder="Título" class="form-control" name="name"
                               ng-model="ClassifiedShareController.classified.name" required/>

                        <div class="help-block">
                            <div ng-show="ClassifiedShareController.submitted">
                                <span ng-show="ClassifiedShareController.form.name.$error.required">Introduza um nome</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.price.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Preço</label>
                        <input type="text" placeholder="Preço" class="form-control" name="price"
                               ng-model="ClassifiedShareController.classified.price" required/>

                        <div class="help-block">
                            <div ng-show="ClassifiedShareController.submitted">
                                <span ng-show="ClassifiedShareController.form.price.$error.required">Introduza o preço</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.price.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Localização</label>
                        <input type="text" placeholder="Localização" class="form-control" name="location"
                               ng-model="ClassifiedShareController.classified.location"/>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.category.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Categoria</label>

                        <select name="category" class="form-control"
                                ng-model="ClassifiedShareController.classified.categoryObj"
                                ng-options="category.name group by category.parent for category in ClassifiedShareController.categories"
                                required>
                            <option value="">escolher</option>
                        </select>

                        <div class="help-block">
                            <div ng-show="ClassifiedShareController.submitted">
                                <span ng-show="ClassifiedShareController.form.category.$error.required">Seleccione a categoria</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': ClassifiedShareController.form.description.$invalid && ClassifiedShareController.submitted}">
                        <label class="control-label">Descrição</label>
                        <textarea rows="3" class="form-control" placeholder="Descrição do anúncio..."
                                  ng-model="ClassifiedShareController.classified.description" required></textarea>

                        <div class="help-block">
                            <div ng-show="ClassifiedShareController.submitted">
                                <span ng-show="ClassifiedShareController.form.description.$error.required">Introduza uma descrição sobre o anúncio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label">Imagem</label>

            <div class="container-fluid row">
                <div class="row">
                    <div class="col-xs-6">
                        <div ng-file-select ng-model="ClassifiedShareController.files"
                             class="btn btn-default btn-block"
                             ng-multiple="true" ng-model-rejected="ClassifiedShareController.rejFiles"
                             ng-file-change="ClassifiedShareController.generateThumbs()"
                             accept=".jpg,.JPG"
                                >Seleccionar imagens
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div ng-file-drop ng-multiple="true" ng-model="ClassifiedShareController.files"
                             style="padding:6px 12px;margin:0px;" class="alert alert-info text-center"
                             ng-file-change="ClassifiedShareController.generateThumbs()"
                             accept=".jpg,.JPG"
                             drag-over-class="alert-warning">Ou arrastar para aqui
                        </div>
                    </div>
                </div>
                <div class="row top15">
                    <div class="col-xs-12">
                        <ul class="media-list">
                            <li class="media" ng-repeat="file in ClassifiedShareController.files">
                                <div class="media-left">
                                    <img class="media-object img-rounded" width="75px" ng-show="file.dataUrl != null"
                                         ng-src="{{file.dataUrl}}">
                                </div>
                                <div class="media-body" style="width:100%">
                                    <div class="media-heading"><b>{{file.name}}</b>
                                        <span>{{file.size | bytes}}</span><span
                                                class="label label-default">{{file.id}}</span></div>
                                    <div>
                                        <textarea ng-disabled="file.id" ng-model="file.title" class="form-control" placeholder="Adicione uma descrição à imagem ..."></textarea>
                                    </div>
                                    <progressbar style="margin:0px;"
                                                 class="progress-striped active"
                                                 value="file.progress"
                                                 ng-show="file.progress > 0 && file.progress < 100">
                                        {{file.progress}}%
                                    </progressbar>
                                </div>
                                <div class="media-right">
                                    <button class="btn btn-default" type="button" ng-hide="file.progress == 100"
                                            ng-click="ClassifiedShareController.cancelUpload(file)">Cancel
                                    </button>
                                    <button class="btn btn-default" type="button" ng-hide="file.progress > 0"
                                            ng-click="ClassifiedShareController.upload(file)">Upload
                                    </button>
                                    <i ng-show="file.progress > 0 && file.progress < 100"
                                       class="fa fa-2x fa-spinner fa-circle-o-notch fa-spin"></i>
                                    <i ng-show="file.progress == 100" class="fa fa-2x fa-check-circle-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-default" type="button"
                ng-click="ClassifiedShareController.cancel()">Cancel
        </button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>