<div class="media smf-classified-post">
    <div class="media-body">
        <div class="media-heading">
            <label class="label label-default">{{classified.type}}</label>
            <a ui-sref="classified.details({'_id':classified._id})">{{classified.name}}</a>
        </div>
        <div class="media-content">
            {{classified.description}}
        </div>
    </div>
    <div class="media-right">
        <a class="smf-price text-center" ui-sref="classified.details({'_id':classified._id})">{{classified.price}}€</a>
    </div>
    <div class="smf-media-image-gallery top10" ng-if="classified.imagesObj.length > 0">
        <img smf-image-thumbnail image-id="{{image._id}}" ng-repeat="image in classified.imagesObj" ng-src="/data/images/display/{{image._id}}-thumb.jpg" tooltip="{{image.title}}"
             tooltip-trigger tooltip-placement="top" tooltip-append-to-body="true" class="img-rounded" style="height: 60px;margin-right:3px;"/>
    </div>
    <div class="text-muted top10">
        <small><i class="fa fa-clock-o"></i> {{classified.timestamp | date: "short"}}</small>
        <small class="pull-right"><i class="fa fa-eye"></i> {{classified.views.count}}</small>
    </div>
</div>