@import "vendor";

$smf-color-main: rgb(55, 174, 182);
$smf-color-light: rgb(250, 250, 250);
$smf-color-gray-dark: rgb(88, 88, 88);
$smf-color-gray: rgb(150, 150, 150);
$smf-color-gray-light: rgb(230, 230, 230);

html {
  padding: 0;
  margin: 0;
  background-color: #10c6ae;
  background-image: url(/cdn/images/auth-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  body {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-family: 'Roboto', Arial !important;
    font-weight: 300;
    background: 0;
    b, strong {
      font-weight: 700;
    }

    .smf-auth-logo-container {
      background: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
      padding: 30px 0px;
      .smf-auth-logo-slogan-wrapper {
        max-width: 300px;
        display: inline-block;
        .smf-auth-logo {
          width: 100%;
        }
        .smf-auth-slogan {
          color: $smf-color-gray;
          font-size: .9em;
          margin-top: 30px;
        }
      }
    }
    .smf-auth-form {
      .smf-auth-separator {
        position: relative;
        margin: 15px 0px;
        text-align: center;
        opacity: .8;
        i {
          color: rgba(255, 255, 255, 1);
        }
        &:before,
        &:after {
          position: absolute;
          left: 0px;
          right: 55%;
          top: 50%;
          height: 1px;
          content: '';
          display: block;
          background: rgba(255, 255, 255, 1);
        }
        &:after {
          left: 55%;
          right: 0;
        }
      }
      .smf-auth-input {
        margin: 10px 0px;
        border-radius: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        font-weight: normal;
        .input-group-addon {
          border: 0;
          background: #e6e6e6;
          color: #aaa;
          i {
            width: 24px;
            text-align: center;
          }
        }
      }
      input.form-control {
        border: 0;
        outline: 0;
        background: #f6f6f6;
        color: #000;
        &:focus {
          background: #fff;
        }
      }
      input[type=checkbox] {
        vertical-align: top;
      }
      table {
        width: 100%;
      }
      .btn {
        border: 0;
        border-bottom: 3px solid rgba(0, 0, 0, .1);

        &.btn-default {
          background: #e6e6e6;
          &:hover {
            background: #dddddd;
          }
        }
      }
      .smf-auth-social {
        border-radius: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        .smf-btn-facebook {
          color: #3b5998;
          border-color: #3b5998;
        }
        .smf-btn-google {
          color: #cc3732;
          border-color: #cc3732;
        }
      }
      .smf-auth-submit {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        width: 200px;
      }
      .smf-auth-error-message {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        padding: 10px;
        color: #fff;
        background-color: #d9534f;
        border: none;
      }
      .smf-auth-success-message {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        padding: 10px;
        color: #fff;
        background-color: #228822;
        border: none;
      }
    }
    .smf-background-link,
    .smf-background-text {
      color: rgba(255, 255, 255, .7);
      font-weight: 300;
      font-size: .9em;
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      text-shadow: 1px 1px 0px rgba(0,0,0,.5);
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
    label.smf-background-link,
    label.smf-background-text {
      text-decoration: none !important;
    }
    label.smf-background-text:hover {
      color: rgba(255, 255, 255, .7);
      cursor: default;
    }
  }
}
@media (max-width: 991px) {
  video#bgvid {
    display: none;
  }
}