<div class="container-fluid top15">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified" ng-init="tab=0">
                <li role="presentation" ng-click="tab=0" ng-class="{'active':tab==0}"><a href="#"><i class="fa fa-inbox"></i> Todas</a></li>
                <li role="presentation" ng-click="tab=1" ng-class="{'active':tab==1}"><a href="#"><i class="fa fa-globe"></i> Social</a></li>
                <li role="presentation" ng-click="tab=2" ng-class="{'active':tab==2}"><a href="#"><i class="fa fa-exchange"></i> Classificados</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid top15">
    <div class="row panel">
        <div class="col-xs-4">
            <button class="btn btn-sm btn-block btn-default" ng-click="ChatsController.createChat()"><i class="fa fa-plus-o"></i> Criar chat</button>
            <ul class="list-group top15">
                <li class="list-group-item" ui-sref-active="list-group-item-info"
                    ng-repeat="element in ChatsController.chats" ng-if="tab==0 || (tab==1 && !element.classifiedId) || (tab==2 && element.classifiedId)">
                    <a ui-sref="social.chats.details({chatId:element._id})">{{element.name}}</a>
                    <a ng-if="!element.name" ui-sref="social.chats.details({chatId:element._id})">{{element.users.length}}
                        utilizadores</a>
                    <small class="text-muted">{{element.timestamp | date:"hh:mm"}}</small>
                    <button class="btn btn-default btn-xs" ng-click="ChatsController.removeChat(element._id)"><i
                            class="fa fa-times"></i></button>
                    <span class="label label-danger">{{element.unreadCount}}</span>
                    <span class="label label-warning" ng-if="element.classifiedId"><i class="fa fa-exchange"></i></span>
                    <br>
                    <img class="img-circle" style="width: 16px;" ng-repeat="user in element.users"
                         ng-src="/data/images/display/user/{{user}}"/>
                </li>
            </ul>
        </div>
        <div class="col-xs-8" ui-view="smf-view-chat-details">
            Conteúdo dos chats
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-if="SocialGroupsController.chats.length == 0">
        <div class="alert alert-info">
            Sem chats para apresentar
        </div>
    </div>
</div>