<div id="smf-center-magic-bar">
    <div class="row">
        <div class="col-xs-2">
            <a class="smf-company-logo" href="#/">
                <img src="/cdn/images/logo.svg" alt="Show Me Fish - logo"/>
            </a>
        </div>
        <div class="col-xs-6">
            <div class="row" ui-view="smf-view-magic-bar"></div>
        </div>
        <div class="col-xs-4 smf-magicbar-section text-right">
            <div class="btn-group" dropdown>
                <a class="btn btn-link padding0 dropdown-toggle">
                    <img class="img-circle"
                         ng-src="/data/images/display/user/{{CommonController.user._id}}" width="30px"
                         style="margin:0px 5px 0px 0px;border: solid 1px #fff;"/>
                    <span class="hidden-xs">{{CommonController.user.fullname}}</span>
                </a>
                <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
                    <li ui-sref="social.profile" ui-sref-active="active"><a href="">O meu perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="/data/auth/logout">Logout</a></li>
                </ul>
            </div>
            <a class="btn smf-magicbar-notification" ui-sref="social.chats">
                <i class="fa fa-comments"></i>
                <span class="badge" ng-if="CommonController.messagesUnread && CommonController.messagesUnread != '0'">{{CommonController.messagesUnread}}</span>
            </a>

            <div class="btn-group" dropdown>
                <a class="btn smf-magicbar-notification dropdown-toggle" ng-click="CommonController.setNotificationsRead()">
                    <i class="fa fa-flag"></i>
                    <span class="badge"
                          ng-if="CommonController.notificationsUnread && CommonController.notificationsUnread > 0">{{CommonController.notificationsUnread}}</span>
                </a>
                <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
                    <li smf-post-thumbnail post-id="{{notification.postId}}"
                        ng-repeat="notification in CommonController.notifications | limitTo: 5"><a href="">
                        {{notification.type}} by <smf-user-link user-id="notification.creatorId"></smf-user-link>
                        <br>
                        <small class="text-muted">{{notification.timestamp | date:"short"}}</small>
                        <span ng-if="!notification.read" class="fa fa-warning"></span></a></li>
                    <li class="divider"></li>
                    <li><a ui-sref="social.notifications">Ver todas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>