<div class="modal-body" style="padding:0;">
    <div class="container-fluid row">
        <div class="col-sm-12">
            <smf-social-post post="PostViewerController.post"/>
        </div>
    </div>
</div>