<form name="ImageReportController.form" ng-submit="ImageReportController.submit()">
    <div class="modal-header">
        <b>Denunciar imagem</b>
    </div>
    <div class="modal-body">

        <div class="form-group"
             ng-class="{'has-error': ImageReportController.form.reason.$invalid && ImageReportController.submitted}">
            <label class="control-label">Razão</label>
            <textarea rows="3" class="form-control" name="reason" placeholder="Razão da denúncia ..."
                      ng-model="ImageReportController.reason" required></textarea>

            <div class="help-block">
                <div ng-show="ImageReportController.submitted">
                    <span ng-show="ImageReportController.form.reason.$error.required">Introduza a razão da denúncia</span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-default" type="button"
                ng-click="ImageReportController.cancel()">Cancel
        </button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>