<form name="SettingsController.form" ng-submit="SettingsController.submit()">
    <div class="form-group">
        <label class="control-label">Imagem de perfil</label>
        <br>
        <img ng-src="/data/images/display/{{SettingsController.user.image}}.jpg" class="img-circle" style="height:70px;width:70px;"/>
        <a class="btn btn-primary" ng-click="CommonController.changeProfileImage()">Alterar</a>
    </div>
    <div class="form-group">
        <label class="control-label">Primeiro nome</label>
        <input type="text" placeholder="Primeiro nome" class="form-control" name="firstname"
               ng-model="SettingsController.user.firstname"/>
    </div>
    <div class="form-group">
        <label class="control-label">Último nome</label>
        <input type="text" placeholder="Último nome" class="form-control" name="lastname"
               ng-model="SettingsController.user.lastname"/>
    </div>
    <div class="form-group">
        <label class="control-label">Data de nascimento</label>
        <input type="text" placeholder="Data de nascimento" class="form-control" name="birthdate"
               ng-model="SettingsController.user.birthdate"/>
    </div>
    <div class="form-group">
        <label class="control-label">Interesses</label>
        <br>
        <label class="btn btn-default btn-xs" ng-repeat="interest in SettingsController.interests" ng-model="SettingsController.selectedInterests[interest._id]" btn-checkbox>{{interest.name}}</label>
    </div>
    <div class="form-group">
        <label class="control-label">Introdução</label>
        <textarea placeholder="Escreve um pouco sobre ti" class="form-control" name="introduction"
                  ng-model="SettingsController.user.introduction">
        </textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Nova password</label>
        <input type="password" placeholder="Nova password" class="form-control" name="password"
               ng-model="SettingsController.newPassword"/>
    </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>


<pre style="font-size:.85em;">{{SettingsController.user | json}}</pre>


<!-- ToDo: set token when user logs in -->
        <div class="top20">
            <a ng-if="SettingsController.user.facebook.token" class="btn btn-danger" ng-click="SettingsController.unlinkFacebook()"><i class="fa fa-facebook"></i> Unlink facebook</a>
            <a ng-if="!SettingsController.user.facebook.token" class="btn btn-default" href="/data/auth/facebook"><i class="fa fa-facebook"></i> Link facebook</a>

            <a ng-if="SettingsController.user.google.token" class="btn btn-danger" ng-click="SettingsController.unlinkGoogle()"><i class="fa fa-google"></i> Unlink google</a>
            <a ng-if="!SettingsController.user.google.token" class="btn btn-default" href="/data/auth/google"><i class="fa fa-google"></i> Link google</a>
        </div>
