<button class="btn btn-default" ng-click="AdminClassifiedCategoriesController.add()">Add category</button>
<br>
<table class="table">
    <tbody ng-repeat="element in AdminClassifiedCategoriesController.categories">
    <tr>
        <td><b>{{element.name}}</b></td>
        <td class="text-right">
            <div class="btn-group">
                <button class="btn btn-default btn-sm" ng-click="AdminClassifiedCategoriesController.add(element._id)"><i
                        class="fa fa-plus"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="AdminClassifiedCategoriesController.update(element._id)"><i
                        class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="AdminClassifiedCategoriesController.remove(element._id)"><i
                        class="fa fa-trash"></i></button>
            </div>
        </td>
    </tr>
    <tr ng-repeat="child in element.children">
        <td> - {{child.name}}</td>
        <td class="text-right">
            <div class="btn-group">
                <button class="btn btn-default btn-sm"
                        ng-click="AdminClassifiedCategoriesController.update(child._id, element._id)"><i
                        class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-default btn-sm"
                        ng-click="AdminClassifiedCategoriesController.remove(child._id, element._id)"><i
                        class="fa fa-trash"></i></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>