<tabset type="pills">
    <tab heading="Lista">
        <div ng-include src="'app/partials/admin/classified/list.html'" ng-controller="controllers.AdminClassifiedListController as AdminClassifiedListController"></div>
    </tab>
    <tab heading="Categorias">
        <div ng-include src="'app/partials/admin/classified/categories.html'" ng-controller="controllers.AdminClassifiedCategoriesController as AdminClassifiedCategoriesController"></div>
    </tab>
    <tab heading="Denúncias">
        <div ng-include src="'app/partials/admin/classified/reports.html'" ng-controller="controllers.AdminClassifiedReportsController as AdminClassifiedReportsController"></div>
    </tab>
</tabset>