<button class="btn btn-default" ng-click="AdminClassifiedListController.getList()">Get list</button>
<br>

<div class="alert alert-success" ng-if="AdminClassifiedListController.added">Classified added
    ({{AdminClassifiedListController.added}})
</div>
<div class="alert alert-info" ng-if="AdminClassifiedListController.updated">Classified updated
    ({{AdminClassifiedListController.updated}})
</div>
<div class="alert alert-danger" ng-if="AdminClassifiedListController.removed">Classified removed
    ({{AdminClassifiedListController.removed}})
</div>

<table class="table">
    <tr ng-repeat="element in AdminClassifiedListController.classified">
        <td>
            <span class="label label-primary">Nome:</span> {{element.name}}
            <br><span class="label label-primary">Utilizador:</span> <a
                ui-sref="social.profile.classified({userId:element.userId})">{{element.userId}}</a>
            <br><span class="label label-primary">Descrição:</span> {{element.description}}
            <br><span class="label label-primary">ID Categoria:</span> {{element.category}}
            <br><span class="label label-primary">Categoria:</span> {{element.categoryObj.name}}
            <br><span class="label label-primary">ID Imagens:</span> {{element.images}}
            <br><span class="label label-primary">Imagens:</span> {{element.imagesObj}}
        </td>
        <td>
            <button class="btn btn-primary" ng-click="AdminClassifiedListController.enhance(element)"><i
                    class="fa fa-magic"></i>
            </button>
            <button class="btn btn-default" ng-click="AdminClassifiedListController.update(element._id)"><i
                    class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-default" ng-click="AdminClassifiedListController.remove('_id',element._id)"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>