<table class="table">
    <tr>
        <th>ID</th>
        <th>reporterId</th>
        <th>classifiedId</th>
        <th>timestamp</th>
        <th>reason</th>
    </tr>
    <tr ng-repeat="element in AdminClassifiedReportsController.reports">
        <td>{{element._id}}</td>
        <td><a ui-sref="social.profile.classified({userId:element.reporterId})">{{element.reporterId}}</a></td>
        <td><a ui-sref="classified.details({'_id':element.classifiedId})">{{element.classifiedId}}</a></td>
        <td>{{element.timestamp | date:"short"}}</td>
        <td>{{element.reason}}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="AdminClassifiedReportsController.remove(element._id)"><i
                        class="fa fa-trash"></i></button>
            </div>
        </td>
    </tr>
</table>