.smf-social-comments-container{
  position: relative;
  overflow: auto;
  padding-top: 10px;


  &:before {
    @include smf-position(absolute,0px,auto,0px,16px);
    content: '';
    width: 4px;
    background: $smf-color-body-timelines;
    display: block;
  }

  .smf-social-comment-container {
    margin-top: 7px;
    margin-bottom: 7px;

    .smf-social-comment-wrapper {
      padding-left: 40px;

      & > .smf-image-wrapper {
        @include smf-position(absolute, -3px, auto, auto, 5px);
        @extend .smf-bubble-radius;
        width: 36px;
        height: 42px;
        background: $smf-color-body-background;
        padding: 3px 0px;

        .smf-image {
          background: $smf-color-main;
          width: 36px;
          height: 36px;
          padding: 3px;
          @extend .smf-bubble-radius;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      & > .smf-date-wrapper {
        @include smf-position(absolute, 43px, auto, auto, 0px);
        width: 46px;
        .smf-date {
          font-size: .7em;
          display: block;
          background: $smf-color-body-background;
          border-radius: 3px;
          color: #000;
          padding: 2px 0px;
          line-height: 1;
          text-decoration: none;
          &:hover {
            color: #fff;
            background: $smf-color-main;
          }
        }
      }

      .smf-social-comment {
        & > .smf-header {
          min-height: 20px;
          line-height: 20px;
        }
        & > .smf-footer {
          margin-left: -29px;
          padding-left: 29px;
          margin-right: -15px;
          background: $smf-color-body-timelines;
          border-left: none;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          a {
            color: #000;
            text-decoration: none;
            padding: 0px 5px;
            font-size:.8em;
            &:hover {
              background: $smf-color-main;
              color: #fff;
            }
          }
        }
      }
    }
  }
}