.smf-social-post-container {
  .smf-social-post-wrapper {
    padding-left: $smf-social-timeline-left-padding;
    position: relative;
    margin-bottom: 30px;

    & > .smf-image-wrapper {
      @include smf-position(absolute, -5px, auto, auto, 0px);
      @extend .smf-bubble-radius;
      width: $smf-social-timeline-left-padding - 10;
      height: $smf-social-timeline-left-padding;
      background: $smf-color-body-background;
      padding: 5px 0px;

      .smf-image {
        background: $smf-color-main;
        width: $smf-social-timeline-left-padding - 10;
        height: $smf-social-timeline-left-padding - 10;
        padding: 4px;
        @extend .smf-bubble-radius;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    & > .smf-date-wrapper {
      @include smf-position(absolute, $smf-social-timeline-left-padding + 2px, auto, auto, 0px);
      width: $smf-social-timeline-left-padding - 10;
      .smf-date {
        font-size: .7em;
        display: block;
        background: $smf-color-body-background;
        color: #000;
        border-radius: 3px;
        padding: 2px 0px;
        line-height: 1;
        text-decoration: none;
        &:hover {
          @extend .smf-colors-box-inverted;
        }
      }
    }

    & > .smf-options-wrapper {
      @include smf-position(absolute, $smf-social-timeline-left-padding + 2px + 60px, auto, auto, 0px);
      width: $smf-social-timeline-left-padding - 10;
      text-align:center;
      .smf-option {
        background: $smf-color-body-background;
        color: #000;
        padding: 2px 4px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 3px;
        &:hover,
        &[aria-expanded='true'] {
          @extend .smf-colors-box-inverted;
        }
      }
    }

    .smf-social-post {
      @extend .smf-card;
      @include smf-bubble-arrow($smf-social-timeline-left-padding - 10,7px);
      position: relative;
      margin-bottom: 0px;

      .smf-post-content {
        padding: 10px;
      }

      .smf-media-image-gallery {
        position:relative;
        text-align:center;
        overflow:hidden;
        padding: 10px;

        .smf-media-image-gallery-main {
          display:inline-block;
          max-height: 450px;
          cursor: pointer;
          @extend .smf-box-shadow-3;

          &:hover +.smf-media-image-gallery-thumbs {
            background: rgba(0,0,0,0);

            img {
              transform: translate3d(0px,50px,0px);
            }
          }
        }

        .smf-media-image-gallery-thumbs {
          background:rgba(0,0,0,.5);
          padding:5px;
          height: 50px;
          @include smf-position(absolute,auto,0,0,0);

          transition: background .1s ease-in-out;

          img {
            transform: translate3d(0px,0px,0px);
            transition: transform .1s ease-in-out;
            cursor: pointer;
          }
        }
      }

      .smf-post-image {
        margin: 0;
        .smf-image {
          padding: 0px;
        }
      }

      .smf-post-footer {
        padding: 0px;
        margin: 0;
        background: #f6f6f6;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        .smf-post-footer-options {
          padding: 0;

          a {
            color: #000;
            text-decoration: none;

            &:first-child {
              border-bottom-left-radius: 3px;
            }
            &:last-child {
              border-bottom-right-radius: 3px;
            }

            &:hover {
              @extend .smf-colors-box-inverted;
            }
          }
        }
      }

    } // .smf-social-post

  } // .smf-social-post-wrapper

  .smf-social-post-comment-action {
    @extend .smf-colors-box;
    @extend .smf-box-shadow-1;
    border-radius: 3px;
    &:hover {
      @extend .smf-colors-box-inverted;
    }

  }

} // .smf-social-post-container