$smf-profile-header-height: 280px;

#smf-social-profile {
  position: relative;

  .smf-profile-header {
    @extend .smf-card;
    position: relative;
    .smf-profile-header-content {
      background-position: center;
      background-size: cover;
      height: $smf-profile-header-height;
      position:relative;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      .smf-profile-header-content-left {
        background: rgba(0,0,0,.4);
        width: 175px;
        height: $smf-profile-header-height;
        padding: 15px;
        border-top-left-radius: 3px;

        .smf-image-wrapper {
          .smf-image {
            @extend .smf-bubble-radius;
            width: 100px;
            height: 100px;
            background: $smf-color-main;
            padding: 5px;
            margin: auto;

            img {
              width: 100%;
              border-radius: 50%;
              max-height: 100%;
            }
          }
        }

        .smf-profile-name {
          margin: 0px;
          padding: 15px;
          display: block;
          text-align: center;
          color: #fff;
          font-size: 1.2em;
          @extend .smf-font-light;
          text-shadow: 0px 1px 0px rgba(0,0,0,.5);
        }

        .smf-profile-btn {
          border: solid 1px rgba(255,255,255,.6);
          color: rgba(255,255,255,.7);
          display: block;
          padding: 4px;
          margin: 3px 0px;
          border-radius: 20px;
          @extend .smf-font-light;
          text-decoration: none;
          width: 100%;

          &:hover {
            background: $smf-color-main;
            border: solid 1px $smf-color-main;
            color: #fff;
          }
        }
      }

      .smf-profile-social-links {
        position: absolute;
        right: 5px;
        bottom: 5px;

        .btn {
          border: solid 1px rgba(255,255,255,.6);
          background: none;
          color: #fff;
          padding: 0;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          @extend .smf-bubble-radius;

          &:hover {
            background: $smf-color-main;
            border: solid 1px $smf-color-main;
          }
        }
      }
    }
    .smf-profile-header-bottom {
      padding: 5px;
      .btn {
        color: #000;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        &:hover {
          @extend .smf-colors-box;
        }
        &.active {
          @extend .smf-colors-box-inverted;
        }
      }
    }
  }
}