.smf-sidebar-right-container {
  margin-bottom: 15px;

  .smf-sidebar-right-wrapper {

    & > .smf-header {
      & > .smf-title {
        color: $smf-color-main;
        font-weight: 300;
      }

      & > i {
        @extend .smf-bubble-radius;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        @extend .smf-colors-box-inverted;

      }

      .smf-options {
        .smf-option {
          text-decoration: none;
          line-height: 24px;

          @extend .smf-font-light;
          color: rgba(0, 0, 0, .3);

          box-shadow: none;

          i {
            font-size: 10px;
          }

          &:hover,
          &:active,
          &[aria-expanded='true'] {
            color: #000;
          }
        }
      }
    }
    & > .smf-content {
      &:not(.smf-classified) .media-right,
      &:not(.smf-classified) .smf-image-gallery {
        display: none;
      }
      &.smf-classified .media-left {
        display: none;
      }
      &.smf-classified .smf-media-footer {
        left: $smf-sidebar-right-post-padding!important;
      }

      .media {

        @extend .smf-card;
        margin: 15px 0px;
        padding: $smf-sidebar-right-post-padding;
        position: relative;
        .media-left {
          img {
            height: $smf-sidebar-right-post-image-size;
            width: $smf-sidebar-right-post-image-size;
            border-radius: 3px;
          }
        }
        .media-body {
          width: 100%;
          .media-heading {
            margin: 0;
          }
        }
        .smf-image-gallery {
          font-size: 0px;
          padding-bottom: 20px;
          .btn {
            padding: 0;
            img {
              border-radius: 3px;
            }
          }
        }
        .smf-price {
          @extend .smf-bubble-radius;
          @extend .smf-colors-box-inverted;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-decoration: none;
          display: inline-block;
          text-align: center;
          @extend .smf-font-light;
          font-size: smaller;
        }
        .smf-media-footer {
          @include smf-position(absolute,auto,$smf-sidebar-right-post-padding,$smf-sidebar-right-post-padding,$smf-sidebar-right-post-image-size + ( $smf-sidebar-right-post-padding * 2 ) );
          background: rgba(0,0,0,.1);
          border-radius: 3px;
          height: 16px;
          a {
            color: #000;
            text-decoration: none;
            padding: 0px 5px;
            font-size: 10px;
            line-height: 14px;
            &:hover {
              @extend .smf-colors-box-inverted;
            }
          }
        }
      }
    }
  }
}