#smf-social-timeline {
  position: relative;

  &:before {
    @include smf-position(absolute,10px,auto,0px,10px + ( ( $smf-social-timeline-left-padding - 14 ) / 2 ));
    content: '';
    width: 6px;
    background: $smf-color-body-timelines;
    display: block;
  }
}