<div class="media smf-blog-post">
    <div class="media-body">
        <div class="media-heading">
            <a ng-href="{{post.url}}" target="_blank">{{post.title}}</a>
        </div>
        <div class="media-content">
            {{post.published_at | date: "medium"}}
        </div>
        <hr>
        <a ng-href="{{post.blog.url}}" target="_blank">{{post.blog.name}}</a>
    </div>
</div>