<form ng-submit="BlogsController.applyFilters();">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Tema</label>
                <select class="form-control"
                        ng-model="BlogsController.filters.themeObj"
                        ng-options="theme.name for theme in BlogsController.themes">
                    <option value="">escolher</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Texto</label>
                <input type="text" class="form-control" ng-model="BlogsController.filters.text"
                       placeholder="Nome, descrição"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            <hr>
        </div>
    </div>
</form>