<div ng-show="$parent.showFilters" ng-include src="'app/partials/blogs/filters.html'"></div>

<div class="row top10">
    <div class="col-sm-6" ng-repeat="item in BlogsController.items | orderBy: '-published_at'">
        <smf-blog-post post="item"></smf-blog-post>
    </div>
    <div class="col-xs-12" ng-if="BlogsController.items.length == 0">
        <div class="alert alert-info">
            Sem publicações para apresentar
        </div>
    </div>
</div>