<form name="BlogsShareController.form" ng-submit="BlogsShareController.submit()">
    <div class="modal-header">
        <b>Adicionar blog</b>
    </div>
    <div class="modal-body">

        <div class="container-fluid row">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': BlogsShareController.form.url.$invalid && BlogsShareController.submitted}">
                        <label class="control-label">URL</label>
                        <input type="text" placeholder="http://omeublog.com" class="form-control" name="url"
                               ng-model="BlogsShareController.blog.url" required/>

                        <div class="help-block">
                            <div ng-show="BlogsShareController.submitted">
                                <span ng-show="BlogsShareController.form.url.$error.required">Introduza a ligação do blog</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': BlogsShareController.form.theme.$invalid && BlogsShareController.submitted}">
                        <label class="control-label">Tema</label>

                        <select name="theme" class="form-control"
                                ng-model="BlogsShareController.blog.themeObj"
                                ng-options="theme.name for theme in BlogsShareController.themes"
                                required></select>

                        <div class="help-block">
                            <div ng-show="BlogsShareController.submitted">
                                <span ng-show="BlogsShareController.form.theme.$error.required">Seleccione um tema</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-default" type="button"
                ng-click="BlogsShareController.cancel()">Cancel
        </button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>