<div id="smf-page-about">

    <div class="row">
        <div class="col-xs-12">
            <div class="smf-card">

                <div ng-if="SocialProfileAboutController.user.introduction">
                    <p><b>Sobre mim</b></p>
                    <p style="white-space: pre-line;" class="text-muted">{{SocialProfileAboutController.user.introduction}}</p>
                    <hr class="smf-card-separator">
                </div>

                <table class="table smf-table smf-card-table no-borders">
                    <tr>
                        <th>E-mail</th>
                        <td>{{SocialProfileAboutController.user.email}}</td>
                    </tr>
                    <tr>
                        <th>Sexo</th>
                        <td>Masculino</td>
                    </tr>
                    <tr>
                        <th>Aniversário</th>
                        <td>{{SocialProfileAboutController.user.birthdate}}</td>
                    </tr>
                    <tr>
                        <th>Membro desde</th>
                        <td>{{SocialProfileAboutController.user.firstaccessDate | date: 'short'}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-heart fa-2x"></i>
                    {{SocialProfileAboutController.user.interests.length}} Interesses
                </div>

                <a href="" class="label label-default" style="display:inline-block;font-size: 85%;font-weight: normal;margin:0px 3px 3px 0px;" ng-repeat="interest in SocialProfileAboutController.user.interestsObj">
                    #{{interest.name}}
                </a>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block">Ver todos</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-camera fa-2x"></i>
                    {{SocialProfileAboutController.images.length}} Fotos
                </div>
                <img ng-repeat="element in SocialProfileAboutController.images | limitTo: 6" ng-src="/data/images/display/{{element._id}}-thumb.jpg" tooltip="{{element.title}}"
                     tooltip-trigger tooltip-placement="top" tooltip-append-to-body="true" class="img-rounded" style="height: 40px;margin-right:3px;margin-bottom:3px;"/>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block" ui-sref="social.profile.images">Ver todas</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-video-camera fa-2x"></i>
                    {{SocialProfileAboutController.videos.length}} Videos
                </div>

                <div class="media no-padding top10" ng-repeat="video in SocialProfileAboutController.videos | limitTo: 4">
                    <div class="media-body media-middle">
                        <div class="media-heading" style="margin:0px;"><a href="" smf-video-link video-id="{{video._id}}">{{video.title}}</a></div>
                    </div>
                </div>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block" ui-sref="social.profile.videos">Ver todos</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-users fa-2x"></i>
                    {{SocialProfileAboutController.user.friends.confirmed.length}} Amigos
                </div>

                <smf-social-user ng-repeat="user in SocialProfileAboutController.user.friends.confirmed" user-id="user" actions="false"></smf-social-user>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block" ui-sref="social.profile.friends">Ver todos</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-exchange fa-2x"></i>
                    {{SocialProfileAboutController.classified.length}} Anúncios
                </div>

                <div class="media no-padding top10" ng-repeat="classified in SocialProfileAboutController.classified | limitTo: 4">
                    <div class="media-left" ng-if="classified.images.length > 0"><img ng-src="/data/images/display/{{classified.images[0]}}.jpg" style="border-radius:3px;width:30px;height:30px;"></div>
                    <div class="media-body media-middle">
                        <div class="media-heading" style="margin:0px;"><a ui-sref="classified.details({'_id':classified._id})">{{classified.name}}</a></div>
                        <div class="media-content"><small class="text-muted"><i class="fa fa-clock-o"></i> {{classified.timestamp | date: "short"}} / <i class="fa fa-eye"></i> {{classified.views.count}}</small></div>
                    </div>
                </div>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block" ui-sref="social.profile.classified">Ver todos</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="smf-card">
                <div class="smf-card-header">
                    <i class="fa fa-newspaper-o fa-2x"></i>
                    7 Blogs
                </div>

                <div class="media no-padding" style="margin-top:8px;">
                    <div class="media-left"><img src="/app/images/image-1.jpg" style="border-radius:3px;width:30px;height:30px;"></div>
                    <div class="media-body media-middle">
                        <div class="media-heading" style="margin:0px;"><a href="">Título do Blog 1</a></div>
                        <div class="media-content"><small class="text-muted"><i class="fa fa-clock-o"></i> 00:37 / <i class="fa fa-eye"></i> 2000</small></div>
                    </div>
                </div>

                <div class="media no-padding" style="margin-top:8px;">
                    <div class="media-left"><img src="/app/images/image-2.jpg" style="border-radius:3px;width:30px;height:30px;"></div>
                    <div class="media-body media-middle">
                        <div class="media-heading" style="margin:0px;"><a href="">Título do Blog 2</a></div>
                        <div class="media-content"><small class="text-muted"><i class="fa fa-clock-o"></i> 00:37 / <i class="fa fa-eye"></i> 2000</small></div>
                    </div>
                </div>

                <div class="media no-padding" style="margin-top:8px;">
                    <div class="media-left"><img src="/app/images/image-3.jpg" style="border-radius:3px;width:30px;height:30px;"></div>
                    <div class="media-body media-middle">
                        <div class="media-heading" style="margin:0px;"><a href="">Título do Blog 3</a></div>
                        <div class="media-content"><small class="text-muted"><i class="fa fa-clock-o"></i> 00:37 / <i class="fa fa-eye"></i> 2000</small></div>
                    </div>
                </div>

                <hr class="smf-card-separator" style="margin-top:10px;">

                <a class="smf-card-btn btn btn-xs btn-default btn-block">Ver todos</a>
            </div>
        </div>
    </div>
</div>