<div class="row">
    <div class="col-sm-6" ng-repeat="classified in SocialClassifiedController.classified">
        <smf-classified-post classified="classified"></smf-classified-post>
    </div>
    <div class="col-xs-12" ng-if="SocialClassifiedController.classified.length == 0">
        <div class="alert alert-info">
            Sem anúncios para apresentar
        </div>
    </div>
</div>