<div class="row" ng-if="SocialProfileController.isLoggedUser">
    <div class="col-md-6" ng-repeat="element in SocialProfileController.user.friends.received" ng-if="element != CommonController.user._id">
        <div style="background:white;box-shadow:0px 1px 2px rgba(0,0,0,.2);padding: 10px;margin-top:15px;">
            <smf-social-user user-id="element" actions="true" />
        </div>
    </div>
</div>

<div class="row" ng-if="SocialProfileController.isLoggedUser">
    <div class="col-md-6" ng-repeat="element in SocialProfileController.user.friends.sent" ng-if="element != CommonController.user._id">
        <div style="background:white;box-shadow:0px 1px 2px rgba(0,0,0,.2);padding: 10px;margin-top:15px;">
            <smf-social-user user-id="element" actions="true" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-repeat="element in SocialProfileController.user.friends.confirmed">
        <div style="background:white;box-shadow:0px 1px 2px rgba(0,0,0,.2);padding: 10px;margin-top:15px;">
            <smf-social-user user-id="element" actions="true" />
        </div>
    </div>
</div>