<div class="jumbotron" ng-if="SocialGroupDetailsController.error">
    <p>{{SocialGroupDetailsController.error}}</p>
    <br>
    <button class="btn btn-default" ng-click="SocialGroupDetailsController.back()">Voltar atrás</button>
</div>
<div ng-if="!SocialGroupDetailsController.error">
    <h4>{{SocialGroupDetailsController.group.name}}
        <i class="fa fa-eye-slash" ng-if="SocialGroupDetailsController.group.isSecret"></i>
        <i class="fa fa-lock" ng-if="SocialGroupDetailsController.group.isPrivate"></i></h4>

    <div class="jumbotron" ng-if="SocialGroupDetailsController.group.description">
        <p>{{SocialGroupDetailsController.group.description}}</p>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">Utilizadores no grupo</div>
                <div class="panel-body">
            <span style="border:solid 1px rgba(0,0,0,.2);border-radius: 3px;padding:5px;display:inline-block;"
                  ng-repeat="user in SocialGroupDetailsController.group.users">
                <img class="img-circle"
                     ng-src="/data/images/display/user/{{user}}" width="30px" style="margin:0px 5px 5px 0px;"/>
                <button class="btn btn-default"
                        ng-if="SocialGroupDetailsController.userIsAdmin && SocialGroupDetailsController.loggedUser._id != user"
                        ng-click="SocialGroupDetailsController.removeUser(user)"><i class="fa fa-times"></i></button>
                <button class="btn btn-default" ng-if="SocialGroupDetailsController.userIsAdmin"
                        ng-class="{'btn-primary':SocialGroupDetailsController.isAdmin(user)}"
                        ng-click="SocialGroupDetailsController.setAdmin(user)"><i class="fa fa-legal"></i></button>
            </span>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="SocialGroupDetailsController.addUser()">
                        Adicionar amigo ao grupo
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-4" ng-if="SocialGroupDetailsController.userIsAdmin">
            <div class="panel panel-default">
                <div class="panel-heading">Pedidos para entrar</div>
                <div class="panel-body">
            <span style="border:solid 1px rgba(0,0,0,.2);border-radius: 3px;padding:5px;display:inline-block;"
                  ng-repeat="user in SocialGroupDetailsController.group.requests">
                <img class="img-circle"
                     ng-src="/data/images/display/user/{{user}}" width="30px" style="margin:0px 5px 5px 0px;"/>
                <button class="btn btn-default" ng-if="SocialGroupDetailsController.userIsAdmin"
                        ng-click="SocialGroupDetailsController.acceptRequest(user)"><i class="fa fa-check"></i></button>
                <button class="btn btn-default" ng-if="SocialGroupDetailsController.userIsAdmin"
                        ng-click="SocialGroupDetailsController.denyRequest(user)"><i class="fa fa-times"></i></button>
            </span>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">Administradores</div>
                <div class="panel-body">
                    <p>Utilizador é admin: {{SocialGroupDetailsController.userIsAdmin}}</p>
                    <img class="img-circle" ng-repeat="user in SocialGroupDetailsController.group.admins"
                         ng-src="/data/images/display/user/{{user}}" width="30px" style="margin:0px 5px 5px 0px;"/>
                    <button ng-if="SocialGroupDetailsController.userIsAdmin" class="btn btn-danger" ng-click="SocialGroupDetailsController.remove()"><i class="fa fa-trash-o"></i> Remover
                        grupo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" id="smf-social-timeline">
        <div class="col-xs-12" ng-repeat="post in SocialGroupDetailsController.posts">
            <smf-social-post post="post"/>
        </div>
        <div class="col-xs-12" ng-if="SocialGroupDetailsController.posts.length == 0">
            <div class="alert alert-info">
                Sem publicações para apresentar
            </div>
        </div>
    </div>
</div>