<div class="row">
    <div class="col-md-6" ng-repeat="element in SocialGroupsController.groups">
        <div style="background:white;box-shadow:0px 1px 2px rgba(0,0,0,.2);padding: 10px;margin-top:15px;">
            <smf-social-group group-id="element._id" />
        </div>
    </div>
    <div class="col-xs-12" ng-if="SocialGroupsController.groups.length == 0">
        <div class="alert alert-info">
            Sem grupos para apresentar
        </div>
    </div>
</div>