<div class="row">
    <div class="col-xs-6 col-sm-3 text-center" ng-repeat="element in SocialProfileImagesController.images">
        <div style="display:block;background: #fff; border: solid 1px rgba(0,0,0,.1);border-radius:5px;">
            <img smf-image-thumbnail image-id="{{element._id}}" ng-src="/data/images/display/{{element._id}}.jpg"
                 tooltip="{{element.title}}"
                 tooltip-trigger tooltip-placement="top" tooltip-append-to-body="true"
                 style="height: 100px;max-width:100%;"/>
        </div>
        <br>
        Likes:{{element.likes.count}}
        <br>
        Comments:{{element.comments.count}}
        <br>

        <div class="btn-group">
            <button class="btn btn-default" ng-click="SocialProfileImagesController.remove(element._id)"><i
                    class="fa fa-trash"></i></button>
        </div>
    </div>
</div>