<div class="smf-magicbar-section">
    <button class="btn btn-block smf-magicbar-btn" ng-click="MagicBarGroupsController.create()">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">Criar grupo</span>
    </button>
</div>
<div class="smf-magicbar-section">
    <button class="btn btn-block smf-magicbar-btn">
        <i class="fa fa-search"></i>
        <span class="hidden-xs">Procurar</span>
    </button>
</div>