<form name="SocialGroupCreateController.form" ng-submit="SocialGroupCreateController.submit()">
    <div class="modal-header">
        <b>Criar grupo</b>
    </div>
    <div class="modal-body">

        <div class="container-fluid row">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': SocialGroupCreateController.form.isPrivate.$invalid && SocialGroupCreateController.submitted}">
                        <label class="control-label">Privacidade</label>
                        <br>

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="SocialGroupCreateController.group.isPrivate"
                                   btn-radio="false">Público</label>
                            <label class="btn btn-primary" ng-model="SocialGroupCreateController.group.isPrivate"
                                   btn-radio="true">Privado</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': SocialGroupCreateController.form.isSecret.$invalid && SocialGroupCreateController.submitted}">
                        <label class="control-label">Visibilidade</label>
                        <br>

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="SocialGroupCreateController.group.isSecret"
                                   btn-radio="false">Visível</label>
                            <label class="btn btn-primary" ng-model="SocialGroupCreateController.group.isSecret"
                                   btn-radio="true">Secreto</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': SocialGroupCreateController.form.name.$invalid && SocialGroupCreateController.submitted}">
                        <label class="control-label">Nome</label>
                        <input type="text" placeholder="Nome" class="form-control" name="name"
                               ng-model="SocialGroupCreateController.group.name" required/>

                        <div class="help-block">
                            <div ng-show="SocialGroupCreateController.submitted">
                                <span ng-show="SocialGroupCreateController.form.name.$error.required">Introduza um nome</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': SocialGroupCreateController.form.users.$invalid && SocialGroupCreateController.submitted}">
                        <label class="control-label">Utilizadores</label>
                        <br>
                        <label class="btn btn-default btn-xs" ng-repeat="user in SocialGroupCreateController.users"
                               ng-model="SocialGroupCreateController.selectedUsers[user._id]" btn-checkbox>{{user.fullname}}</label>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group"
                         ng-class="{'has-error': SocialGroupCreateController.form.description.$invalid && SocialGroupCreateController.submitted}">
                        <label class="control-label">Descrição</label>
                        <textarea rows="3" class="form-control" placeholder="Descrição do grupo..."
                                  ng-model="SocialGroupCreateController.group.description"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-default" type="button"
                ng-click="SocialGroupCreateController.cancel()">Cancel
        </button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>