<div class="row" id="smf-social-profile">
    <div class="col-xs-12 text-right">
        <a href ng-click="CommonController.reportUser(SocialProfileController.user._id)">Denunciar</a>
    </div>
    <div class="col-xs-12">
        <div class="smf-profile-header no-padding">
            <div class="smf-profile-header-content" style="background-image:url('/data/images/display/{{SocialProfileController.user.coverImage}}.jpg')">
                <div class="smf-profile-header-content-left">
                    <div class="smf-image-wrapper">
                        <div class="smf-image" style="position:relative;">
                            <img class="img-responsive" ng-src="/data/images/display/{{SocialProfileController.user.image}}.jpg" />
                            <a style="color:#fff;position:absolute;right:2px;bottom:0;cursor: pointer;" ng-if="SocialProfileController.isLoggedUser" ng-click="CommonController.changeProfileImage()"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                    <div class="smf-profile-name">
                        {{SocialProfileController.user.fullname}}
                    </div>
                    <a class="btn btn-link smf-profile-btn" ui-sref="settings" ng-if="SocialProfileController.isLoggedUser">
                        <i class="fa fa-cog"></i> Atualizar informações
                    </a>
                    <div ng-if="!SocialProfileController.isLoggedUser">
                        <div ng-switch="SocialProfileController.friendStatus">
                            <div ng-switch-default>
                                <button class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.friendInvite()"><i class="fa fa-users"></i> Adicionar amigo</button>
                            </div>
                            <div ng-switch-when="received">
                                <button class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.friendAccept()"><i class="fa fa-check"></i> Aceitar</button>
                                <button class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.friendRemove()"><i class="fa fa-times"></i> Rejeitar</button>
                            </div>
                            <div ng-switch-when="sent">
                                <button class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.friendRemove()"><i class="fa fa-times"></i> Cancelar</button>
                            </div>
                            <div ng-switch-when="confirmed">
                                <button class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.friendRemove()"><i class="fa fa-times"></i> Remover amigo</button>
                            </div>
                        </div>
                        <a class="btn btn-link smf-profile-btn" ng-click="SocialProfileController.startChat()">
                            <i class="fa fa-envelope"></i> Enviar mensagem
                        </a>
                    </div>
                </div>

                <div class="smf-profile-social-links">
                    <a class="btn btn-link" ng-if="SocialProfileController.user.facebook.id" ng-href="http://facebook.com/{{SocialProfileController.user.facebook.id}}" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-link" ng-if="SocialProfileController.user.google.id" ng-href="http://plus.google.com/{{SocialProfileController.user.google.id}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="smf-profile-header-bottom">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-link" ui-sref=".about" ui-sref-active="active">
                        <i class="fa fa-question-circle"></i><span class="hidden-xs"> Sobre</span>
                    </a>
                    <a class="btn btn-link" ui-sref=".images" ui-sref-active="active">
                        <i class="fa fa-image"></i><span class="hidden-xs">  Imagens</span>
                    </a>
                    <a class="btn btn-link" ui-sref=".timeline" ui-sref-active="active">
                        <i class="fa fa-globe"></i><span class="hidden-xs">  Feed</span>
                    </a>
                    <a class="btn btn-link" ui-sref=".classified" ui-sref-active="active">
                        <i class="fa fa-exchange"></i><span class="hidden-xs">  Classificados</span>
                    </a>
                    <a class="btn btn-link" ui-sref=".blogs" ui-sref-active="active">
                        <i class="fa fa-newspaper-o"></i><span class="hidden-xs">  Blogs</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="smf-view-profile">

</div>