<div class="row smf-sidebar-right-container">
    <div class="col-xs-12 smf-sidebar-right-wrapper">
        <div class="smf-header">
            <i class="fa fa-exchange"></i>
            <span class="smf-title">
                CLASSIFICADOS
            </span>
            <div class="smf-options pull-right">
                <div class="btn-group" dropdown>
                    <a href class="dropdown-toggle smf-option">
                        <span class="hidden-sm">{{SocialSidebarRightController.sortOptionsList[SocialSidebarRightController.sortIndex].title}}</span>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
                        <li ng-repeat="sortOption in SocialSidebarRightController.sortOptionsList"
                            ng-click="SocialSidebarRightController.sortIndex = $index"
                            ng-class="{'active':SocialSidebarRightController.sortIndex == $index}"><a href>{{sortOption.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="smf-content smf-classified">
            <smf-classified-post classified="classified" ng-repeat="classified in SocialSidebarRightController.classified"></smf-classified-post>
        </div>
        <a ui-sref="classified" class="smf-btn-load-more btn btn-link btn-sm btn-block">Ver mais</a>
    </div>
</div>
<div class="row smf-sidebar-right-container">
    <div class="col-xs-12 smf-sidebar-right-wrapper">
        <div class="smf-header">
            <i class="fa fa-newspaper-o"></i>
            <span class="smf-title">
                BLOGS
            </span>
        </div>
        <div class="smf-content smf-blogs">
            <smf-blog-post post="item" ng-repeat="item in SocialSidebarRightController.blogItems | orderBy: '-published_at' | limitTo: 3"></smf-blog-post>
        </div>
        <a ui-sref="blogs" class="smf-btn-load-more btn btn-link btn-sm btn-block">Ver mais</a>
    </div>
</div>
