<div class="row" id="smf-social-timeline">
    <div class="col-xs-12" ng-repeat="post in SocialTimelineController.posts">
        <smf-social-post post="post"/>
    </div>
    <div class="col-xs-12" ng-if="SocialTimelineController.isLoading">
        <smf-loading>A carregar publicações</smf-loading>
    </div>
    <div class="col-xs-12" ng-if="SocialTimelineController.posts.length == 0 && !SocialTimelineController.isLoading">
        <div class="alert alert-info">
            Sem publicações para apresentar
        </div>
    </div>
</div>
<!--
<pre>{{SocialTimelineController.posts | json}}</pre>
-->