<form ng-submit="SocialUsersController.applyFilters();">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Texto</label>
                <input type="text" class="form-control" ng-model="SocialUsersController.filters.text"
                       placeholder="Nome"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Interesses</label>
                <select class="form-control" ng-model="SocialUsersController.filters.interestsObj"
                        ng-options="interest.name for interest in SocialUsersController.interests"
                        multiple>
                    <option value="">escolher</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            <hr>
        </div>
    </div>
</form>
<div class="row">

    <div class="col-md-6" ng-repeat="element in SocialUsersController.users" ng-if="element._id != CommonController.user._id">
        <div style="background:white;box-shadow:0px 1px 2px rgba(0,0,0,.2);padding: 10px;margin-top:15px;">
            <smf-social-user user-id="element._id" actions="true" />
        </div>
    </div>
    <div class="col-xs-12" ng-if="SocialUsersController.users.length == 0">
        <div class="alert alert-info">
            Sem utilizadores para apresentar
        </div>
    </div>
</div>