<tabset type="pills">
    <tab heading="Lista">
        <div ng-include src="'app/partials/admin/groups/list.html'" ng-controller="controllers.AdminGroupListController as AdminGroupListController"></div>
    </tab>
</tabset>