<button class="btn btn-default" ng-click="AdminGroupListController.getList()">Atualizar </button>
<br>
<table class="table">
    <tr ng-repeat="element in AdminGroupListController.groups">
        <td>
            <a ui-sref="social.profile({userId:element.creatorId})">{{element.creatorId}}</a>
            <br><span class="label label-primary">Data criação:</span> {{element.timestamp | date:'short'}}
            <br><span class="label label-primary">Nome:</span> {{element.name}}
            <br><span class="label label-primary">Descrição:</span> {{element.description}}
            <br><span class="label label-primary">Privado:</span> {{element.isPrivate}}
            <br><span class="label label-primary">Secreto:</span> {{element.isSecret}}
            <br><span class="label label-primary">Interesses:</span> {{element.interests}}
            <br><span class="label label-primary">Utilizadores:</span> {{element.users}}
        </td>
        <td>
            <button class="btn btn-default" ng-click="AdminGroupListController.remove('_id',element._id)"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>