

.smf-card {
  @extend .smf-box-shadow-1;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 15px;

  &:not(.no-padding) {
    padding: 10px;
  }
}

.smf-card-header {
  @extend .smf-font-light;
  display: block;
  background-color: $smf-color-main;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  > .fa {
    display: block;
    margin-bottom: 5px;
  }
}

.smf-card-btn {
  display: block;
  background: rgba(0,0,0,.1);
  border: none;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
  padding: 3px;
  font-size: 11px;
  margin-top: 10px;
  &:hover {
    @extend .smf-colors-box-inverted;
  }
}

.smf-card-separator {
  display: block;
  border: none;
  height: 1px;
  width: 100%;
  background: $smf-color-white-separator;
  margin: 0;
  margin-bottom: 10px;
}

.smf-card-table {
  margin: 0px;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        font-weight: 500;
        padding-left: 0;
      }
      > td {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.smf-card-image-gallery {
    margin: 1px 0px;
    > tbody {
      > tr {
        > td {
          padding: 1px;

          > img {
            border-radius: 3px;
          }
        }
      }
    }
  }
}