.smf-table {

  &.no-borders {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > td,
        > th {
          border-top: none;
        }
        > th {
          font-weight: 500;
        }
      }
    }
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        font-weight: 500;

        &.no-left-padding {
          padding-left: 0;
        }
      }
    }
  }

}