<div class="media" style="margin:15px 0;">
    <div class="media-left text-center">
        <div style="padding:3px;background:rgb(55, 174, 182);border-radius:50%;border-bottom-right-radius:0px;position:relative;">
            <img class="img-circle" style="width:30px;height:30px;"
                 ng-src="/data/images/display/{{SocialCommentController.comment.user.image}}.jpg"/>
        </div>
    </div>
    <div class="media-body media-middle" style="width:100%">
        <div class="media-heading" style="margin-bottom:0px;">
            <a ui-sref="social.profile({userId:comment.user.image})">{{SocialCommentController.comment.user.fullname}}</a>
            {{SocialCommentController.comment.comment}}
        </div>
        <div class="media-content" style="background:rgba(0, 0, 0, 0.1);border-radius: 3px;">
            <small>{{SocialCommentController.comment.timestamp | date:"short"}}</small>
            <a class="btn btn-default btn-xs" ng-click="toggleLike()">
                <i class="fa fa-thumbs-up"></i>
                {{SocialCommentController.comment.likes.count}}
                            <span ng-if="SocialCommentController.comment.likes.userLiked"
                                  class="label label-primary">Gosto!</span>


            </a>
            <a class="btn btn-default btn-xs pull-right" ng-click="remove()"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>