<div class="smf-social-post-container">
    <div class="smf-social-post-wrapper">
        <div class="smf-image-wrapper">
            <div class="smf-image">
                <img ng-src="/data/images/display/user/{{SocialPostController.post.userId}}"/>
            </div>
        </div>
        <div class="smf-date-wrapper">
            <a class="smf-date text-center" href="">
                {{SocialPostController.post.timestamp | date:"d"}}
                <br>
                {{SocialPostController.post.timestamp | date:"MMM"}}
                <br>
                {{SocialPostController.post.timestamp | date:"y"}}
            </a>
        </div>
        <div ng-if="SocialPostController.isLoading" class="smf-social-post text-center" style="padding: 20px;">
            <smf-loading>A carregar publicação ...</smf-loading>
        </div>
        <div ng-if="!SocialPostController.isLoading" class="smf-social-post no-padding">
            <div class="smf-post-content row" ng-if="SocialPostController.post.description">
                <div class="col-xs-12">
                    <h5>
                        <a ui-sref="social.profile({userId:SocialPostController.post.userId})">{{SocialPostController.post.user.fullname}}</a><span
                            ng-if="SocialPostController.post.targetUserId"> <i class="text-muted fa fa-caret-right"></i> <a
                            ui-sref="social.profile({userId:SocialPostController.post.targetUserId})">{{SocialPostController.post.targetUser.fullname}}</a></span>
                        <small class="pull-right text-muted">{{SocialPostController.post.timestamp | date:"hh:mm"}}
                            <span class="smf-options dropdown">
                                <a href class="dropdown-toggle smf-option">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href ng-click="SocialPostController.report()">Denunciar</a></li>
                                    <li><a href ng-click="SocialPostController.remove()">Eliminar</a></li>
                                </ul>
                            </span>
                        </small>
                    </h5>
                    {{SocialPostController.post.description}}
                </div>
            </div>
            <div ng-if="SocialPostController.post.videoObj">
                partilhou um <a href="" smf-video-link video-id="{{SocialPostController.post.video}}">vídeo</a>
            </div>
            <div class="smf-media-video-gallery text-center" ng-if="SocialPostController.post.videoObj">
                <anguvideo ng-model="SocialPostController.post.videoObj.url" width="100%" height="300"></anguvideo>
            </div>
            <div class="smf-media-image-gallery" ng-if="SocialPostController.post.imagesObj.length > 0">
                <img class="smf-media-image-gallery-main" smf-image-thumbnail
                     image-id="{{SocialPostController.selectedImage._id}}"
                     ng-src="/data/images/display/{{SocialPostController.selectedImage._id}}.jpg"
                     tooltip="{{SocialPostController.selectedImage.title}}"
                     tooltip-trigger tooltip-placement="top" tooltip-append-to-body="true" class="img-responsive"
                     ng-init="SocialPostController.selectedImage = SocialPostController.post.imagesObj[0]"/>

                <div class="smf-media-image-gallery-thumbs" ng-if="SocialPostController.post.imagesObj.length > 1">
                    <img ng-repeat="image in SocialPostController.post.imagesObj"
                         ng-src="/data/images/display/{{image._id}}-thumb.jpg"
                         style="height: 40px;margin-right:3px;border: solid 1px #fff;"
                         ng-click="SocialPostController.selectedImage = image"/>
                </div>
            </div>
            <div class="smf-post-footer">
                <div class="smf-post-footer-options">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a class="btn btn-link" href=""
                           ng-click="SocialPostController.visibleTab = 'comments'">
                            <i class="fa fa-comments"></i>
                            {{SocialPostController.post.comments.count}}
                            <span class="hidden-xs"> comentário<span
                                    ng-if="SocialPostController.post.comments.count != 1">s</span></span>
                        </a>
                        <a class="btn btn-link" href="" ng-click="SocialPostController.visibleTab = 'comments'">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-comments"></i>
                        </a>
                        <a class="btn btn-link" href="" ng-click="SocialPostController.toggleLike()">
                            <i class="fa fa-thumbs-up"></i>
                            {{SocialPostController.post.likes.count}}
                            <span class="hidden-xs"> gosto<span
                                    ng-if="SocialPostController.post.likes.count != 1">s</span></span>
                            <span ng-if="SocialPostController.post.likes.userLiked"
                                  class="label label-primary">Gosto!</span>
                        </a>
                        <a class="btn btn-link" href="" ng-click="SocialPostController.visibleTab = 'likes'">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!SocialPostController.isLoading && !SocialPostController.visibleTab"
             class="smf-social-comments-container">
            <smf-social-comment ng-repeat="comment in SocialPostController.post.comments.data | reverse | limitTo: 1"
                                comment="comment"
                                remove="SocialPostController.removeComment(comment)"
                                toggle-like="SocialPostController.toggleLikeComment(comment)"
                    />
        </div>
        <div ng-if="!SocialPostController.isLoading && SocialPostController.visibleTab == 'comments'"
             class="smf-social-comments-container">
            <smf-social-comment ng-repeat="comment in SocialPostController.post.comments.data"
                                comment="comment"
                                remove="SocialPostController.removeComment(comment)"
                                toggle-like="SocialPostController.toggleLikeComment(comment)"
                    />
        </div>
        <div ng-if="!SocialPostController.isLoading && SocialPostController.visibleTab == 'likes'">
            <div ng-repeat="like in SocialPostController.post.likes.data" style="padding:20px 0px;">
                <img ng-src="/data/images/display/user/{{like.userId}}" height="32px" />
                <smf-user-link user-id="like.userId"></smf-user-link>
                {{like.timestamp | date:"hh:mm dd-MM-yyyy"}}
            </div>
        </div>
        <button ng-if="!SocialPostController.isLoading" class="btn btn-block smf-social-post-comment-action text-center"
                ng-click="SocialPostController.addComment()">
            <i class="fa fa-edit"></i>
            Deixar comentário
        </button>
    </div>
</div>