<div class="media">
    <div class="media-left">
        <img class="img-circle" ng-src="/data/images/display/user/{{SocialUserController.user._id}}" width="40px"/>
    </div>
    <div class="media-body media-middle" style="width:100%">
        <div class="media-heading">
            <a ui-sref="social.profile({userId:SocialUserController.user._id})"><b>{{SocialUserController.user.firstname}} {{SocialUserController.user.lastname}}</b></a>
        </div>
        <div class="media-content">
            <a href="" class="label label-default" style="display:inline-block;font-size: 85%;font-weight: normal;margin:0px 3px 3px 0px;" ng-repeat="interest in SocialUserController.user.interestsObj">
                #{{interest.name}}
            </a>
        </div>
    </div>
    <div class="media-right media-middle text-right" ng-show="SocialUserController.actions">
        <div ng-switch="SocialUserController.status">
            <div ng-switch-default>
                <button class="btn btn-default btn-sm" ng-click="SocialUserController.friendInvite()"><i class="fa fa-plus"></i> Adicionar</button>
            </div>
            <div ng-switch-when="received">
                <button class="btn btn-default btn-sm" ng-click="SocialUserController.friendAccept()"><i class="fa fa-check"></i> Aceitar</button>
                <button class="btn btn-default btn-sm" ng-click="SocialUserController.friendRemove()"><i class="fa fa-times"></i> Rejeitar</button>
            </div>
            <div ng-switch-when="sent">
                <button class="btn btn-default btn-sm" ng-click="SocialUserController.friendRemove()"><i class="fa fa-times"></i> Cancelar</button>
            </div>
            <div ng-switch-when="confirmed">
                <button class="btn btn-default btn-sm" ng-click="SocialUserController.friendRemove()"><i class="fa fa-times"></i> Remover</button>
            </div>
        </div>
    </div>
</div>