<tabset type="pills">
    <tab heading="Denúncias">
        <div ng-include src="'app/partials/admin/videos/reports.html'" ng-controller="controllers.AdminVideosReportsController as AdminVideosReportsController"></div>
    </tab>
</tabset>