<tabset type="pills">
    <tab heading="Lista">
        <div ng-include src="'app/partials/admin/users/list.html'" ng-controller="controllers.AdminUserListController as AdminUserListController"></div>
    </tab>
    <tab heading="Interesses">
        <div ng-include src="'app/partials/admin/users/interests.html'" ng-controller="controllers.AdminUserInterestsController as AdminUserInterestsController"></div>
    </tab>
    <tab heading="Denúncias">
        <div ng-include src="'app/partials/admin/users/reports.html'" ng-controller="controllers.AdminUserReportsController as AdminUserReportsController"></div>
    </tab>
</tabset>