<button class="btn btn-default" ng-click="AdminUserInterestsController.add()">Adicionar interesse</button>
<br>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    <tr ng-repeat="element in AdminUserInterestsController.interests">
        <td>{{element._id}}</td>
        <td>{{element.name}}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="AdminUserInterestsController.update(element._id)"><i
                        class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-default" ng-click="AdminUserInterestsController.remove(element._id)"><i
                        class="fa fa-trash"></i></button>
            </div>
        </td>
    </tr>
</table>